<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cheater</title>
  <link rel="stylesheet" href="<%= tmplCssPath %>">
  <link rel="stylesheet" href="<%= cssPath %>">
</head>
<body>
  
</body>
</html>
